mDbConnection.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
mDbConnection.url=jdbc:sqlserver://localhost\\SQLExpress;databaseName=APT;integratedSecurity=true
oDbConnection.driver=oracle.jdbc.OracleDriver
oDbConnection.url=jdbc:oracle:thin:APT/password@localhost:1521:xe
DbConnection.driver=net.ucanaccess.jdbc.UcanaccessDriver
DbConnection.url=jdbc:ucanaccess://C:/APT/Data/APT.mdb
